<h3> Edit your comment </h3>

<%= form_with model: [@article, @comment]  do |form| %>
	<p>
		<%= form.text_area :description, size: "20x2"%> 
	</p>
		<%= form.submit class: "btn btn-info"%>
	
<% end %>